<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Eventos</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <!-- Menú de Navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#" th:href="@{/}">
            <i class="fas fa-calendar"></i> Gestión de Eventos
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/}"><i class="fas fa-home"></i> Inicio <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" th:href="@{/evento/lista}">Gestionar Eventos</a>
                        <a class="dropdown-item" href="#" th:href="@{/calendario}">Ver Calendario</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/about}"><i class="fas fa-info-circle"></i> Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/contact}"><i class="fas fa-envelope"></i> Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container mt-8">
            <h2>Lista de Eventos</h2>

            <!-- Tabla de eventos -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>FechaInicio</th>
                        <th>Fecha Fin</th>
                        <th>Ubicación</th>
                        <th>Organizador</th>
                        <th>Categoría</th>
                        <th>Valor</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="evento : ${eventoList}">
                        <td th:text="${evento.titulo}"></td>
                        <td th:text="${evento.descripcion}"></td>
                        <td th:text="${#temporals.format(evento.fechaInicio,'dd/MM/YYYY HH:mm')}"></td>
                        <td th:text="${#temporals.format(evento.fechaFin,'dd/MM/YYYY HH:mm')}"></td>
                        <td th:text="${evento.ubicacion}"></td>
                        <td th:text="${evento.organizador}"></td>
                        <td th:text="${evento.categoria}"></td>
                        <!-- <td th:text="${#numbers.formatCurrency(evento.valor)}"></td> -->
                        <!-- <td th:text="${#strings.replace(#numbers.formatCurrency(evento.valor), '.00', '')}"></td> -->
                        <td th:text="'$' + ${#numbers.formatInteger(evento.valor, 1)}">$ </td>
                        <td>
                            <div class="d-flex mt-3">
                                <a th:href="@{/evento/editar/{id}(id=${evento.id})}"
                                    class="btn btn-warning me-2 d-flex">
                                    <i class="fas fa-edit me-1"></i> Editar
                                </a>
                                <button type="button" class="btn btn-danger d-flex"
                                    th:onclick="'confirmDelete(' + ${evento.id} + ')'">
                                    <i class="fas fa-trash-alt me-1"></i> Eliminar
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <a href="/evento/nuevo" id="newEvent" class="btn btn-success">
                <i class="fas fa-plus"></i> Agregar Nuevo Evento
            </a>
            <a href="/" class="btn btn-primary">
                <i class="fas fa-home"></i> Volver al inicio
            </a>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 American Summer. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- Bootstrap JS y dependencias -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

    <!-- Script para manejar la confirmación y éxito -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Confirmación para eliminar el evento
            window.confirmDelete = function (id) {
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "Esta acción eliminará el Evento permanentemente.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Realizar la solicitud GET usando fetch
                        fetch(`/evento/eliminar/${id}`, { method: 'GET' })
                            .then(response => {
                                if (response.ok) {
                                    Swal.fire({
                                        title: '¡Éxito!',
                                        text: 'El Evento ha sido eliminado correctamente.',
                                        icon: 'success',
                                        confirmButtonText: 'Ok'
                                    }).then(() => {
                                        window.location.href = "/evento/lista"; // Redirigir a la lista de eventos
                                    });
                                } else {
                                    Swal.fire({
                                        title: 'Error',
                                        text: 'No se pudo eliminar el Evento.',
                                        icon: 'error',
                                        confirmButtonText: 'Intentar nuevamente'
                                    });
                                }
                            })
                            .catch(() => {
                                Swal.fire({
                                    title: 'Error',
                                    text: 'No se pudo eliminar el Evento.',
                                    icon: 'error',
                                    confirmButtonText: 'Intentar nuevamente'
                                });
                            });
                    }
                });
            }
            // Verificar si hay mensajes de éxito o error desde la URL
            const urlParams = new URLSearchParams(window.location.search);
            const successMessage = urlParams.get('success') === 'true' ? 'El Evento ha sido actualizado correctamente.' : null;
            const deleteMessage = urlParams.get('deleted') === 'true' ? 'El Evento ha sido eliminado correctamente.' : null;
            const errorMessage = urlParams.get('error') === 'true' ? 'Hubo un problema en la operación.' : null;

            if (successMessage) {
                Swal.fire({
                    title: '¡Éxito!',
                    text: successMessage,
                    icon: 'success',
                    confirmButtonText: 'Ok'
                });
            }
            if (deleteMessage) {
                Swal.fire({
                    title: '¡Éxito!',
                    text: deleteMessage,
                    icon: 'success',
                    confirmButtonText: 'Ok'
                });
            }
            if (errorMessage) {
                Swal.fire({
                    title: 'Error',
                    text: errorMessage,
                    icon: 'error',
                    confirmButtonText: 'Intentar nuevamente'
                });
            }
        });
    </script>
</body>

</html>